@model ProfileViewModel


<h1>Profile</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            @*Personal Information*@
            <div style="background-color: steelblue; font-weight:bold">
                PERSONAL INFORMATION
            </div>
          
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Profession"></label>
                <input asp-for="@Model.Profession" class="form-control" />
                <span asp-validation-for="Profession" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Qualification"></label>
                <input asp-for="@Model.Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LinkedInUrl"></label>
                <input asp-for="@Model.LinkedInUrl" class="form-control" />
                <span asp-validation-for="LinkedInUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GitHubUrl"></label>
                <input asp-for="@Model.GitHubUrl" class="form-control" />
                <span asp-validation-for="GitHubUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            @*Address*@

            <div style="background-color: steelblue; font-weight:bold">
                ADDRESS
            </div>
            <div class="form-group">
                <label asp-for="@Model.Street"></label>
                <input asp-for="@Model.Street" class="form-control" />
                <span asp-validation-for="@Model.Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.City"></label>
                <input asp-for="@Model.City" class="form-control" />
                <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.State"></label>
                <input asp-for="@Model.State" class="form-control" />
                <span asp-validation-for="@Model.State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Country"></label>
                <input asp-for="@Model.Country" class="form-control" />
                <span asp-validation-for="@Model.Country" class="text-danger"></span>
            </div>

            @*Work Experience*@
            <div style="background-color: steelblue; font-weight:bold">
                WORK EXPERIENCE
            </div>

            <div class="form-group">
                <label asp-for="@Model.CompanyName"></label>
                <input asp-for="@Model.CompanyName" class="form-control" />
                <span asp-validation-for="@Model.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.JobTitle"></label>
                <input asp-for="@Model.JobTitle" class="form-control" />
                <span asp-validation-for="@Model.JobTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.JobDescription"></label>
                <input asp-for="@Model.JobDescription" class="form-control" />
                <span asp-validation-for="@Model.JobDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.YearStarted"></label>
                <input asp-for="@Model.YearStarted" class="form-control" />
                <span asp-validation-for="@Model.YearStarted" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="@Model.YearEnded"></label>
                <input asp-for="@Model.YearEnded" class="form-control" />
                <span asp-validation-for="@Model.YearEnded" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-primary">Update</button>
        </form>

    </div>
</div>
